matplotlib==3.4.2
seaborn==0.11.2
streamlit==0.84.0
tensorflow==2.5.0
plotly==4.14.3
Pillow==8.2.0
sqlite3==3.36.0
keras==2.4.3
ultralytics==8.0.105
opencv-python-headless==4.5.3.56
pyperclip==1.8.2
requests==2.25.1
